

<%- include('../partials/adminHeader.ejs')-%>

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <h5 class="card-header">Banner</h5>
                        <div class="card-body">
                            <div>
                                <label class="" for="">Description 1</label>
                                <input type="text" name="des1" class="form-control">
                                <label class="" for="">Description 2</label>
                                <input type="text" name="des2" class="form-control">
                                <label for="">Description 3</label>
                                <input type="text" name="des3" class="form-control">
                                <label for="defaultFormControlInput" class="form-label">Banner Image</label>
                                <input type="file" class="form-control" accept="image/png, image/jpeg, image/jpg" placeholder="Image" name="image" aria-describedby="defaultFormControlHelp" multiple required />

                                <div class="my-3 text-left">
                                    <button type="submit" class="add btn btn-success">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    <%- include('../partials/adminFooter.ejs')-%>