

<%- include('../partials/userHeader.ejs')-%>





<%if(message){%>
    <script>
      Swal.fire('<%=message%>')
    </script>
    <%}%>
  <div class="container">
<div class="row text-center">
    <h2>Add Address</h2>
    <hr>
</div>
<div class="row">
  
    <div class="col-md-6">
      
      
      <form action="/addAddress" method="post">
          
        <div class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="firstname" class="form-label">First Name</label>
                    <input name="firstname" type="text" class="form-control" placeholder="Enter your first name" > 
                    </div>
                <div class="col-md-6">
                    <label for="lastname" class="form-label">Last Name</label>                    
                    <input name="lastname" type="text" class="form-control" placeholder="Enter your last name">                
                    </div>
            </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>         
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email address">          
          </div>
        <div class="mb-3">
          <label for="mobile" class="form-label">Mobile</label>          
          <input name="mobile" type="text" class="form-control" id="email" placeholder="Enter your mobile number" >         
          </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>         
          <input name="address" type="text" class="form-control" id="address" placeholder="Enter your address">        
          </div>
        
    </div>
    <div class="col-md-6">
      <div class="mb-3">
          <label for="city" class="form-label">City</label>          
          <input name="city" type="text" class="form-control" id="city" placeholder="Enter your city">        
          </div>
        <div class="mb-3">
          <label for="state" class="form-label">State</label>          
          <input name="state" type="text" class="form-control" id="state" placeholder="Enter your state">          
          </div>
        <div class="mb-3">
          <label for="zip" class="form-label">ZIP Code</label>          
          <input name="zip" type="text" class="form-control" id="zip" placeholder="Enter your ZIP code">          
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add Address</button>
        </div>
    </div>
</form>
  </div>
</div>
  

<%- include('../partials/userFooter.ejs')-%>

